.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #ffe81f;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 3.5rem;
}
/* write your parent styles in here for your App.js */
